@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

#bg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  position: absolute;
  margin-top: 50px;
  height: 250px;
  filter: drop-shadow(0 0 0.75rem #000);
}

#stream_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#stream_box_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px, rgba(0, 0, 0, 0.45) 0px 5px 50px;
  width: calc(1920px * 0.8);
  height: calc(1080px * 0.8);
  margin-bottom: 50px;
}

#spotify {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#spotify_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 116px;
  width: 478px;
  position: absolute;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px, rgba(0, 0, 0, 0.45) 0px 5px 50px;
}
